<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>管道评分</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/CCTV/css/markinfo/editinfo.css"/>
    <script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/CCTV/js/markinfo/editinfo.js"></script>
  </head>
  <body>
    <div th:replace="navigation::navigation"></div>
    <div id="Tip"></div>
    <div id="TitleMemu">
      <div style="width:1200px;height:100%;margin:0 auto;">
        <a href="/CCTV/project/showlist" title="首页"><img src="/CCTV/img/msdi.png"></a>
	    <input type="button" th:value="#{markinfo.editinfo.button}"/>
      </div>
    </div>
    <!-- *************************************************************** -->
    <input type="hidden" id="path" th:value="${path}"/>
    <input type="hidden" id="id" th:value="${param.id}"/> 
    <input type="hidden" id="no" th:value="${param.no}"/> 
    <div id="main">
      <div id="main1">
        <div id="memu1">
	      <div class="title" th:text="#{project.editinmfo.pipe.title}"></div>
          <input type="button" id="common" th:value="#{markinfo.editinfo.button}"/>
	    </div>
        <div id="head1">
	      <div style="width:24px"></div>
          <div style="width:36px">No</div>
          <div style="width:154px">Start MH</div>
          <div style="width:154px">Finish MH</div>
          <div style="width:141px" th:text="#{markinfo.editinfo.mark.span1}"></div>
          <div style="width:141px" th:text="#{markinfo.editinfo.mark.span2}"></div>
          <div style="width:236px" th:text="#{markinfo.editinfo.mark.span3}"></div>
          <div style="width:236px" th:text="#{markinfo.editinfo.mark.span4}"></div>
          <div style="width:60px">View</div>
	    </div>
        <div id="showpipe">
          <table id="tab1" style="width:100%;border-collapse:collapse;">
            <tr th:each="markPipe:${markPipes}" height="30px">
              <td width="2%"></td>
              <td width="3%" th:text="${markPipe.pipe.no}"></td>
              <td width="13%" th:text="${markPipe.pipe.smanholeno}"></td>
              <td width="13%" th:text="${markPipe.pipe.fmanholeno}"></td>
              <td width="12%" th:text="${markPipe.pipescore}"></td>
              <td width="12%" th:text="${markPipe.itemscore}"></td>
              <td width="20%" th:text="${markPipe.score1}"></td>
              <td width="20%" th:text="${markPipe.score2}"></td>
              <td width="5%"><input type="button" th:value="#{markinfo.editinfo.list.button}"></td>
            </tr>
          </table>
        </div>
      </div>
      
      <div id="main2">
        <div id="title1" style="height:30px;">
	      <span style="width:108px;">Survey ID</span>
          <span style="width:107px;">Operator</span>
          <span style="width:107px;">Work Order No</span>
          <span style="width:157px;">Pipe Length Reference</span>
          <span style="width:131px;">Purpose</span>
          <span style="width:107px;">Slope</span>
          <span style="width:163px;"><a id="link1">Slope Reference No</a></span>
          <span style="width:107px;">Year Laid</span>
          <span style="width:107px;">Date</span>
          <span style="width:100px;">Time</span>
	    </div>
        <div id="input1" style="height:30px;">
          <input type="text" th:value="${markPipe.pipe.no}" style="width:100px">
          <input type="text" th:value="${markPipe.pipe.operator}" style="width:100px">
          <input type="text" th:value="${markPipe.pipe.workorder}" style="width:100px;">
          <input type="text" th:value="${markPipe.pipe.reference}" style="width:150px;background-color:#EBEBE4;">
          <input type="text" th:value="${markPipe.pipe.purposes}" style="width:130px;">
          <input type="text" th:value="${markPipe.pipe.slope}" style="width:100px;">
          <input type="text" th:value="${markPipe.pipe.sloperef}" style="width:150px;">
          <input type="text" th:value="${markPipe.pipe.yearlaid}" style="width:100px;">
          <input type="text" th:value="${markPipe.pipe.date}" style="width:100px">
          <input type="text" th:value="${markPipe.pipe.time}" style="width:100px">
        </div>
        <div id="title2" style="height:30px;">
          <span style="width:108px;">District1</span>
          <span style="width:107px;">District2</span>
          <span style="width:107px;">District3</span>
          <span style="width:186px;">Road Name</span>
          <span style="width:186px;">House Number</span>
          <span style="width:186px;">Building</span>
          <span style="width:107px;">division</span>
          <span style="width:100px;">Drainage Area Code</span>
        </div>
        <div id="input2" style="height:30px;">
          <input type="text" th:value="${markPipe.pipe.district1}" style="width:100px;"/>
		  <input type="text" th:value="${markPipe.pipe.district2}" style="width:100px;"/>
		  <input type="text" th:value="${markPipe.pipe.district2}" style="width:100px;"/>
		  <input type="text" th:value="${markPipe.pipe.roadname}" style="width:179px;"/>
		  <input type="text" th:value="${markPipe.pipe.housenum}" style="width:179px;"/>
		  <input type="text" th:value="${markPipe.pipe.building}" style="width:179px;"/>
		  <input type="text" th:value="${markPipe.pipe.division}" style="width:100px;background-color:#EBEBE4;"/>
		  <input type="text" th:value="${markPipe.pipe.areacode}" style="width:207px;background-color:#EBEBE4;"/>
        </div>
        <div id="title3" style="height:30px;">
          <span style="width:108px;">Start MH</span>
          <span style="width:107px;">Finish MH</span>
          <span style="width:107px;">Use</span>
          <span style="width:107px;">Direction</span>
          <span style="width:107px;">Size(Dia)H</span>
          <span style="width:107px;">Size(Dia)W</span>
          <span style="width:115px;">Shape</span>
          <span style="width:115px;">Material</span>
          <span style="width:114px;">Lining</span>
          <span style="width:107px;">Pipe Length</span>
          <span style="width:100px;">Total Length</span>
        </div>
        <div id="input3" style="height:30px;">
		  <input type="text" th:value="${markPipe.pipe.smanholeno}" style="width:100px">
		  <input type="text" th:value="${markPipe.pipe.fmanholeno}" style="width:100px">
		  <input type="text" th:value="${markPipe.pipe.use}" style="width:100px;">
		  <input type="text" th:value="${markPipe.pipe.direction}" style="width:100px;">
          <input type="text" th:value="${markPipe.pipe.hsize}" style="width:100px">
		  <input type="text" th:value="${markPipe.pipe.wsize}" style="width:100px">
		  <input type="text" th:value="${markPipe.pipe.shape}" style="width:108px;">
		  <input type="text" th:value="${markPipe.pipe.material}" style="width:108px;">
		  <input type="text" th:value="${markPipe.pipe.lining}" style="width:107px;">
		  <input type="text" th:value="${markPipe.pipe.pipelength}" style="width:100px">
		  <input type="text" th:value="${markPipe.pipe.totallength}" style="width:100px">
	  	</div>
        <div id="title4" style="height:30px;">
          <span style="width:108px;">Start Depth</span>
          <span style="width:107px;">Cover Level</span>
          <span style="width:107px;">Invert Level</span>
          <span style="width:107px;">Finish Depth</span>
          <span style="width:107px;">Cover Level</span>
          <span style="width:107px;">Invert Level</span>
          <span style="width:115px;">Category</span>
          <span style="width:115px;">Cleaned</span>
          <span style="width:114px;">Weather</span>
          <span style="width:107px;">Video No/File Name</span>
          <span style="width:100px;"></span>
        </div>
        <div id="input4" style="height:30px;">
          <input type="text" th:value="${markPipe.pipe.sdepth}" style="width:100px;">
		  <input type="text" th:value="${markPipe.pipe.scoverlevel}" style="width:100px;">
		  <input type="text" th:value="${markPipe.pipe.sinvertlevel}" style="width:100px;background-color:#EBEBE4;">
		  <input type="text" th:value="${markPipe.pipe.fdepth}" style="width:100px;">
		  <input type="text" th:value="${markPipe.pipe.fcoverlevel}" style="width:100px;">
		  <input type="text" th:value="${markPipe.pipe.finvertlevel}" style="width:100px;background-color:#EBEBE4;">
		  <input type="text" th:value="${markPipe.pipe.category}" style="width:108px;">
		  <input type="text" th:value="${markPipe.pipe.cleaned}" style="width:108px;">
          <input type="text" th:value="${markPipe.pipe.weather}" style="width:107px;">
          <input type="text" th:value="${markPipe.pipe.videono}" style="width:207px;">
        </div>
        <div id="input5" style="height:30px;">
          <span style="width:130px;">Comments General:</span>
          <input type="text" name="comment" th:value="${markPipe.pipe.comment}" style="width:1063px;margin-top:4px;" list="commentlist">
        </div>
      </div>
      
      <canvas id="showpipeimg" width="208px" height="840px"></canvas>
      <div id="showvideo">
	    <div class="videoTitle"><font color="#51C83D">---  </font>Video<font color="#51C83D">  ---</font></div>
	    <div class="videoTitle"><font color="#51C83D">---  </font>Photo<font color="#51C83D">  ---</font></div>
	  	<div id="vname" style="float:left;">
	    <video id="video" controls="controls" poster="/CCTV/img/picture/poster2.png" title="双击打开视频"></video>
	    <img id="image" src="/CCTV/img/blank-plus.png" style="cursor:pointer;"/>
	    <div id="menu2" th:text="#{project.findinfo.item.title}"></div>
	    </div>
	    <table id="title">
	      <tr height="20px;" style="background-color: #505984;">
            <th width="27px" rowspan="2"></th>
            <th width="95px" rowspan="2">Video Time</th>
            <th width="95px" rowspan="2">Photo No</th>
            <th width="95px" rowspan="2">Distance</th>
            <th width="76px" rowspan="2">Cont<br/>Def</th>
            <th width="76px" rowspan="2">Code</th>
            <th width="95px" rowspan="2">Dia./Dim</th>
            <th width="95px" colspan="2">Clock</th>
            <th width="95px" colspan="2">Intrusion</th>
            <th width="" rowspan="2">Remarks</th>
       	  </tr>
          <tr height="20px;" style="background-color: #505984;">
            <th width="46px">At</th>
            <th width="46px">To</th>
            <th width="46px">%</th>
            <th width="46px">mm</th>
          </tr>
	    </table>
	    <div id="showItem" style="background-color:#dddddd">
	      <table id="tab2">
	      	<tr th:each="item,status:${markPipe.pipe.items}" height="20px">
              <td width="3%" align="center"></td>
              <td width="10%" style="text-indent:8px;" th:text="${item.video}"></td>
              <td width="10%" style="text-indent:8px;" th:text="${item.photo}"></td>
              <td width="10%" style="text-indent:8px;" th:text="${item.dist}"></td>
              <td width="8%" style="text-indent:8px;" th:text="${item.cont}"></td>
              <td width="8%" style="text-indent:8px;" th:text="${item.code}"></td>
              <td width="10%" style="text-indent:8px;" th:text="${item.diam}"></td>
              <td width="5%" style="text-indent:8px;" th:text="${item.clockAt}"></td>
              <td width="5%" style="text-indent:8px;" th:text="${item.clockTo}"></td>
              <td width="5%" style="text-indent:8px;" th:text="${item.percent}"></td>
              <td width="5%" style="text-indent:8px;" th:text="${item.lengths}"></td>
              <td style="text-indent:8px;" th:text="${item.remarks}"></td>
              <td style="display:none" th:text="${item.picture}"></td>
            </tr>
	      </table>
	    </div>
	  </div>
      
      <form id="form1" method="post">
      <input type="hidden" name="id" th:value="${markPipe.id}"/>
      <input type="hidden" name="pipe.id" th:value="${markPipe.pipe.id}"/>
      <input type="hidden" name="markProject.id"  th:value="${param.id}"/>
      <input type="hidden" name="score1" th:value="${markPipe.score1}"/>
      <input type="hidden" name="score2" th:value="${markPipe.score2}"/>
      
      <div id="mainBottom1">
        <div id="bTitle">
	      <font color="#51C83D">---  </font>
		  <span th:text="#{markinfo.findinfo.title3}"></span>
		  <font color="#51C83D">  ---</font>
	    </div>
	    <div class="bSpan"><div th:text="#{markinfo.editinfo.mark.title1}"></div></div>
	    <div id="bScore">
	      <div th:text="#{markinfo.editinfo.mark.span1}" style="width:118px"></div>
          <input type="text" name="pipescore" th:value="${markPipe.pipescore}">
          <div th:text="#{markinfo.editinfo.mark.span2}" style="width:118px"></div>
          <input type="text" name="itemscore" th:value="${markPipe.itemscore}">
          <div th:text="#{markinfo.editinfo.mark.span3}"></div>
          <div id="showstar1" style="width:149px">
            <img src="/CCTV/img/星星1.png" class="star" title="较差"/>
			<img src="/CCTV/img/星星1.png" class="star" title="一般"/>
			<img src="/CCTV/img/星星1.png" class="star" title="合格"/>
			<img src="/CCTV/img/星星1.png" class="star" title="良好"/>
			<img src="/CCTV/img/星星1.png" class="star" title="优秀"/>
          </div>
          <div th:text="#{markinfo.editinfo.mark.span4}"></div>
          <div id="showstar2" style="width:149px">
            <img src="/CCTV/img/星星1.png" class="star" title="较差"/>
			<img src="/CCTV/img/星星1.png" class="star" title="一般"/>
			<img src="/CCTV/img/星星1.png" class="star" title="合格"/>
			<img src="/CCTV/img/星星1.png" class="star" title="良好"/>
			<img src="/CCTV/img/星星1.png" class="star" title="优秀"/>
          </div>
	    </div>
        <div class="bSpan"><div th:text="#{markinfo.editinfo.mark.title2}"></div></div>
        <textarea name="remark" th:text="${markPipe.remark}"></textarea>
      </div>
      </form>
    </div>
    <input type="file" id="file" accept="video/*" style="display:none"/>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>