<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
	<title>个人项目</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/comm/itemlist.css"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/project/showlist.css"/>
	<script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/CCTV/js/project/showlist.js"></script>
  </head>
  <body>
    <div th:replace="navigation::navigation"></div>
    <div id="Tip"></div>
    <div id="main">
      <div id="mainMenu">
        <div id="menuTitle" th:text="#{menu.title.text}"></div>
        <div class="menu1"><a href="/CCTV/project/showlist" th:text="#{menu.div.text1}"></a></div>
        <shiro:hasRole name="role2">
          <div class="menu2"><a href="/CCTV/project/findlist" th:text="#{menu.div.text2}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role3,vrole">
          <div class="menu2"><a href="/CCTV/markinfo/markview" th:text="#{menu.div.text3}"></a></div>
          <div class="menu2"><a href="/CCTV/markinfo/marklist" th:text="#{menu.div.text4}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2,vrole">
          <div class="menu2"><a href="/CCTV/markinfo/findlist" th:text="#{menu.div.text5}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2">
          <div class="menu2"><a href="/CCTV/operator/showlist" th:text="#{menu.div.text6}"></a></div>
          <div class="menu2"><a href="/CCTV/person/showlist" th:text="#{menu.div.text7}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="vrole">
          <div class="menu2"><a href="/CCTV/message/showlist" th:text="#{menu.div.text8}"></a></div>
        </shiro:hasRole>
        <div class="menu2"><a href="/CCTV/person/center" th:text="#{menu.div.text9}"></a></div>
      </div>
      
      <div id="mainInfo">
        <div id="infoTop" th:text="#{project.showlist.title1}"></div>
        <div id="infoMenu">
          <span th:text="#{project.showlist.menu1}"></span>
          <input id="menuBtn1" type="button" value="←"/>
          <input id="menuText" th:value="${param.name}"/>
          <input id="menuBtn2"  type="button" th:value="#{project.showlist.menu2}"/>
          <div style="height:100%;float:left;"></div>
          <input type="button" id="append" th:value="#{project.showlist.button1}"/>
          <input type="button" id="import" th:value="#{project.showlist.button2}"/>
	      <form id="form1" action="importitems" enctype="multipart/form-data" method="post">
	       	<input id="file1" type="file" name="file" accept=".mdb" style="display:none">
	      </form>
        </div>
        <table id="tab1">
          <thead>
            <tr height="40px" style="color:#fff;font-size:16px;background-color:#3CB44B;">
              <th width="4%">NO</th>           
			  <th width="14%" th:text="#{project.showlist.table.title1}">   
			  <th width="20%" th:text="#{project.showlist.table.title2}"> 
			  <th width="12%" th:text="#{project.showlist.table.title3}">
			  <th width="12%" th:text="#{project.showlist.table.title4}">
			  <th width="12%" th:text="#{project.showlist.table.title5}">   
			  <th width="12%" th:text="#{project.showlist.table.title6}"> 
			  <th width="14%" th:text="#{project.showlist.table.title7}">
			</tr>       
          </thead>
          <tbody style="font-family:等线">
            <tr th:each="project,status:${projects}" th:id="${project.id}">
              <td th:text="${status.count+(page-1)*15}"></td>
              <td><a th:href="@{editinfo(id=${project.id})}" th:text="${project.name}"></a></td>
          	  <td th:text="${project.client}"></td>
          	  <td th:text="${project.standard}"></td>
          	  <td th:text="${project.slope}"></td>
          	  <td th:text="${project.operator}"></td>
          	  <td th:text="${project.date}"></td>
		      <td>
		        <input type="button" th:value="#{project.showlist.table.button1}" style="background-color:#3CB44B;">
		        <input type="button" th:value="#{project.showlist.table.button2}" style="background-color:#2CACF1;">
		        <input type="button" th:value="#{project.showlist.table.button3}" style="background-color:#DB5651;">
		      </td>
          	</tr>
          </tbody>
        </table>
        <img th:if="${#lists.isEmpty(projects)}" src="/CCTV/img/null.png" style="margin:145px 400px;float:left;">
        <table id="tab2" th:if="${!#lists.isEmpty(projects)}">
          <tr height="65px">
            <td width="45%" align="right"><input type="button" th:value="#{showlit.page.button1}" class="pagebtn"/></td>
            <td width="10%" align="center"><a id="page1" th:text="${page}"></a> / <a id="page2" th:text="${cont}"></a></td>
            <td width="45%" align="left"><input type="button" th:value="#{showlit.page.button2}" class="pagebtn"/></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="page"></div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>