<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>新建公司</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/company/insert.css"/>
    <script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/CCTV/js/company/insert.js"></script>
  </head>
  <body>
    <div id="Tip" th:text="${tips}"></div>
    <div id="naviMain">
      <div id="navi">
        <div style="width:900px;height:100%;float:left;">
          <img id="naviLogo" src="/CCTV/img/msdi.png" title="首页">
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/退出1.png"/>
          <a href="/CCTV/user/leave">退出登录</a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="mainInfo">
        <div id="mainTop">新建公司</div>
        <form id="form1" action="insert" method="post" autocomplete="off">
        <fieldset id="field1" class="field">
	      <legend><span style="font-size:18px;font-weight:700">公司信息</span></legend>
	      <table id="table1">
	    	<tr>
	    	  <td width="150px" align="right"><span style="color:#f00">*</span><span class="label">公司名称：</span></td>
	    	  <td width="250px" align="left"><input type="text" name="name" th:value="${company?.name}" class="textbox1" placeholder="请输入公司名称"/></td>
	    	  <td width="250px" align="left"><a>公司名称，由中文、字母和数字组成。</a></td>
	    	</tr>
	    	<tr>
	       	  <td align="right"><span style="color:#f00">*</span><span class="label">账号前缀：</span></td>
	       	  <td align="left"><input type="text" name="define" th:value="${company?.define}" class="textbox1" placeholder="账号前缀，如：MSDI"/></td>
	       	  <td align="left"><a>只能由字母和数字组成，2-12位。</a></td>
	       	</tr>
	    	<tr>
	    	  <td align="right"><span style="color:#f00">*</span><span class="label">公司规模：</span></td>
	    	  <td align="left">
	    	    <input type="button" class="btn1" value="-"/>
	    	    <input type="text" name="cont" th:value="${company?.cont}" class="textbox2"/>
	    	    <input type="button" class="btn2" value="+"/>
	    	  </td>
	    	  <td align="left"><a>使用该系统人数，限制：1～1000人。</a></td>
	    	</tr>
	    	<tr>
	       	  <td align="right"><span style="color:#f00">*</span><span class="label">使用期限：</span></td>
	       	  <td align="left">
	       	    <input type="button" class="btn1" value="-"/>
	       	    <input type="text" name="term" th:value="${company?.term}" class="textbox2"/>
	       	    <input type="button" class="btn2" value="+"/>
	       	  </td>
	       	  <td align="left"><a>使用该系统期限，限制：1～1000年。</a></td>
	       	</tr>
	    	<tr>
	       	  <td align="right"><span style="color:#f00">*</span><span class="label">使用版本：</span></td>
	       	  <td align="left">
	       	    <input type="radio" name="version" value="版本 1.1" th:checked="${company?.version == '版本1.1'}"/>
	       	    <span style="font-weight:500;">版本 1.1</span>
	       	    <input type="radio" name="version" value="版本 1.2" th:checked="${company?.version == '版本1.2'}"/>
	       	    <span style="font-weight:500;">版本 1.2</span>
	       	  </td>
	       	  <td align="left"><a>不同版本可以使用不同业务服务。</a></td>
	       	</tr>
	       	<tr>
	       	  <td align="right"></td>
	       	  <td align="left"><input type="button" value="确定" class="combtn"></td>
	       	  <td align="left"></td>
	       	</tr>
	      </table>
	  	</fieldset>
  	  	</form>
  	  	
  	  	<div style="width:720px;margin-left:135px;color:#666;font-size:15px;font-family:仿宋;font-weight:700;float:left;">
  	  	  注：新建公司完成后公司名称无法进行修改，选择不同的使用版本可以使用不同的业务服务。</div>
  	  	<div style="width:720px;margin-left:167px;color:#666;font-size:15px;font-family:仿宋;font-weight:700;float:left;">
  	  	  账号前缀为系统分配公司的账号前缀，如输入MSDI，公司规模20人，则系统自动为该公司分配账号为：
  	  	</div>
  	  	<div style="width:720px;margin-left:167px;color:#666;font-size:15px;font-family:仿宋;font-weight:700;float:left;">
  	  	  MSDI0001～MSDI0020，账号分配初始密码为系统自动生成，用户可以在个人中心处修改登录密码。
  	  	</div>
  	  	
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>