<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>新建信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/company/showinfo.css"/>
  </head>
  <body>
    <div id="naviMain">
      <div id="navi">
        <div style="width:900px;height:100%;float:left;">
          <img id="naviLogo" src="/CCTV/img/msdi.png" title="首页">
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/退出1.png"/>
          <a href="/CCTV/user/leave">退出登录</a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="mainInfo">
        <div id="mainTop">公司信息</div>
        <fieldset id="field1" class="field">
	      <legend><span style="font-size:18px;font-weight:700">公司信息</span></legend>
	      <table id="table1">
	    	<tr>
	    	  <td width="120px" align="right"><span class="label">公司名称：</span></td>
	    	  <td width="240px" align="left" th:text="${company?.name}"></td>
	    	  <td width="120px" align="right"><span class="label">使用版本：</span></td>
	    	  <td width="240px" align="left" th:text="${company?.version}"></td>
	    	</tr>
	    	<tr>
	    	  <td align="right"><span class="label">使用人数：</span></td>
	    	  <td align="left"><span th:text="${company?.cont}"></span>人</td>
	    	  <td align="right"><span class="label">使用天数：</span></td>
	    	  <td align="left"><span th:text="${company?.term}"></span>天</td>
	    	</tr>
	      </table>
	  	</fieldset>
	  	<div id="mainlist">
	  	  <div id="infoTop">
	  	    <div style="width:39px;">No</div>
	  	    <div style="width:139px;">用户名称</div>
	  	    <div style="width:184px;">登录账号</div>
	  	    <div style="width:184px;">登录密码</div>
	  	    <div style="width:107px;">用户职务</div>
	  	    <div style="width:115px;">注册日期</div>
	  	  </div>
	  	  <div id="infoBody" style="width:100%;max-height:240px;overflow-y:scroll;float:left;">
	  	    <table id="tab1">
       	  	<tr th:each="i:${#numbers.sequence(1,10)}" align="center" height="24px">
              <td width="5%" th:text="${i}"></td>
              <td width="18%">No：0001</td>
              <td width="24%">MSDI160005123456</td>
              <td width="24%">MFKJVHF1515F</td>
              <td width="14%">管理人员</td>
              <td width="15%">2018-05-06</td>
            </tr>
	      </table>
	  	  </div>
	  	</div>
  	  	<div style="width:720px;margin-left:132px;color:#999;font-size:14px;float:left;">
  	  	  注：请注意保存公司序列号码，人员注册时需要输入正确验证码完成验证。
  	  	</div>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>