<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>公司信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/company/showinfo.css"/>
  </head>
  <body>
    <div id="naviMain">
      <div id="navi">
        <div style="width:900px;height:100%;float:left;">
          <img id="naviLogo" src="/CCTV/img/msdi.png" title="首页">
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/退出1.png"/>
          <a href="/CCTV/user/leave">退出登录</a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="mainInfo">
        <div id="mainTop">公司信息</div>
        <fieldset id="field1" class="field">
	      <legend><span style="font-size:18px;font-weight:700">公司信息</span></legend>
	      <table id="table1">
	    	<tr>
	    	  <td width="120px" align="right"><span class="label">公司名称：</span></td>
	    	  <td width="240px" align="left" th:text="${company?.name}"></td>
	    	  <td width="120px" align="right"><span class="label">使用版本：</span></td>
	    	  <td width="240px" align="left" th:text="${company?.version}"></td>
	    	</tr>
	    	<tr>
	    	  <td align="right"><span class="label">使用人数：</span></td>
	    	  <td align="left"><span th:text="${company?.cont}"></span>人</td>
	    	  <td align="right"><span class="label">使用天数：</span></td>
	    	  <td align="left"><span th:text="${company?.term}"></span>天</td>
	    	</tr>
	      </table>
	  	</fieldset>
	  	<div id="infoTitle">用户信息</div>
	  	<div id="mainlist">
	  	  <div id="infoTop">
	  	    <div style="width:39px;">No</div>
	  	    <div style="width:139px;">用户名称</div>
	  	    <div style="width:184px;">登录账号</div>
	  	    <div style="width:184px;">登录密码</div>
	  	    <div style="width:107px;">用户职务</div>
	  	    <div style="width:115px;">注册日期</div>
	  	  </div>
	  	  <div id="infoBody" style="width:100%;max-height:240px;overflow-y:scroll;float:left;">
	  	  <table id="tab1" style="font-size:18px;">
       	  	<tr th:each="person,status:${persons}" align="center" height="24px">
              <td width="5%" th:text="${status.count}"></td>
              <td width="18%" th:text="${person.nickname}"></td>
              <td width="24%" th:text="${person.username}"></td>
              <td width="24%" th:text="${person.password}"></td>
              <td width="14%" th:if="${person.role == 'Role2'}">管理人员</td>
              <td width="14%" th:if="${person.role == 'Role3'}">评分人员</td>
              <td width="14%" th:if="${person.role == 'Role4'}">操作人员</td>
              <td width="15%" th:text="${person.date}"></td>
            </tr>
	      </table>
	  	  </div>
	  	</div>
  	  	<div style="width:785px;margin-left:105px;font-size:14px;float:left;">
  	  	  <a id="link" th:href="@{/export/userlist(id=${param.id})}" style="float:right;">导出</a>
  	  	</div>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>