<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>新建信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/company/showinfo.css"/>
  </head>
  <body>
    <div id="naviMain">
      <div id="navi">
        <div style="width:900px;height:100%;float:left;">
          <img id="naviLogo" src="/CCTV/img/msdi.png" title="首页">
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/退出1.png"/>
          <a href="/CCTV/user/leave">退出登录</a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="maininfo">
        <div id="top">新建完成</div>
        <fieldset id="field1" class="field">
	      <legend><span style="font-size:18px;font-weight:700">公司信息</span></legend>
	      <table id="table1">
	    	<tr>
	    	  <td width="140px" align="right"><span class="label">公司名称：</span></td>
	    	  <td width="220px" align="left" th:text="${company?.name}"></td>
	    	</tr>
	    	<tr>
	    	  <td align="right"><span class="label">序列号码：</span></td>
	    	  <td align="left" th:text="${company?.code}"></td>
	    	</tr> 
	    	 <tr> 
	    	  <td align="right"><span class="label">使用人数：</span></td>
	    	  <td align="left"><span th:text="${company?.cont}"></span>人</td>
	    	</tr> 
	    	 <tr> 
	    	  <td align="right"><span class="label">使用天数：</span></td>
	    	  <td align="left"><span th:text="${company?.term}"></span>天</td>
	    	</tr>
	      </table>
	  	</fieldset>
	  	<fieldset id="field2" class="field">
	      <legend><span style="font-size:18px;font-weight:700">人员信息</span></legend>
	      <table id="table2">
	    	<tr height="40px">
	    	  <td width="140px" align="right"><span class="label">用户姓名：</span></td>
	    	  <td width="220px" align="left" th:text="${person?.nickname}"></td>
	       	</tr>
	    	<tr height="40px">
	    	  <td align="right"><span class="label">登录账号：</span></td>
	    	  <td align="left" th:text="${person?.username}"></td>
	       	</tr>
	    	<tr height="40px">
	    	  <td align="right"><span class="label">登录密码：</span></td>
	    	  <td align="left" th:text="${person?.password}"></td>
	       	</tr>
	      </table>
	  	</fieldset> 
	  	<div style="width:100%;height:30px;float:left;"></div>
  	  	<div style="width:720px;margin-left:132px;color:#999;font-size:14px;float:left;">
  	  	  注：请注意保存公司序列号码，人员注册时需要输入正确验证码完成验证。
  	  	</div>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>