<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>重设密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/CCTV/css/user/resetpass.css"/>
    <script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/CCTV/js/user/resetpass.js"></script>
  </head>
  <body>
    <div id="main">
      <img id="logo" src="/CCTV/img/picture/01.png"/>
      <div id="mainInfo">
        <a href="loginview"><img id="icon"src="/CCTV/img/msdi.png"/></a>
        <div id="title">Reset Password</div>
        <div id="tips"></div>
        <form id="form1" action="/CCTV/user/resetpass" method="post">
        <table id="tab1">
          <tr class="row1"><td><span>*</span> User Name：</td></tr>
          <tr class="row2">
            <td><input type="text" name="username" class="textbox"/></td>
          </tr>
          <tr class="row1"><td><span>*</span> E-Mail：</td></tr>
          <tr class="row2">
            <td><input type="text" name="mail" class="textbox"/></td>
          </tr>
          <tr class="row1"><td><span>*</span> Code：</td></tr>
          <tr class="row2">
            <td>
              <input type="text" class="textbox" style="width:218px"/>
              <input type="button" id="btn1" value="Get Code"/>
            </td>
          </tr>
          <tr class="row1"><td><span>*</span> New Password：</td></tr>
          <tr class="row2">
            <td><input type="password" class="textbox"/></td>
          </tr>
          <tr class="row1"><td><span>*</span> Repeat Password：</td></tr>
          <tr class="row2">
            <td><input type="password" class="textbox"/></td>
          </tr>
          <tr height="100px">
            <td><input type="button" id="btn2" th:value="#{user.logon.button2}"></td>
          </tr>
        </table>
        </form>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>