@CHARSET "UTF-8";

body {
	background-color: #F5F5F5;
}

#TitleMemu {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background-color: rgba(102, 102, 102, 0.9);
	position: fixed;
	display: none;
	z-index: 10;
}

#TitleMemu div img {
	width: 106px;
	height: 50px;
	margin: 15px 900px 15px 10px;
	float: left;
}

#TitleMemu div input {
	width: 80px;
	height: 32px;
	margin: 24px 0px 24px 10px;
	color: #ffffff;
	font-size: 15px;
	border-radius: 2px;
	border: none;
	float: left;
}

#TitleMemu div input:hover {
	cursor: pointer;
	color: #F7C93D;
}
/************************************************************************/
#main {
	width: 1240px;
	margin: 20px auto;
}

#main1 {
	width: 1238px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	float: left;
}

#menu1 {
	width: 1200px;
	height: 69px;
	margin-left: 20px;
	font-size: 30px;
	font-weight: 700;
	font-family: "宋体";
	line-height: 70px;
	text-align: center;
	border-bottom: 1px dashed #ccc;
	float: left;
}

#head1 {
	width: 1200px;
	height: 35px;
	color: #ffffff;
	margin-top: 12px;
	margin-left: 20px;
	background-color: #505984;
	float: left;
}

#head1 div {
	height: 100%;
	text-align: center;
	line-height: 35px;
	border: none;
	float: left;
}

#showpipe {
	width: 1200px;
	max-height: 240px;
	margin-left: 20px;
	margin-bottom: 20px;
	overflow-y:scroll;
	float: left;
}

#tab1 {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

#tab1 tr {
	height: 24px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
}

#tab1 tr:nth-child(even) {
	background-color: #f0f0f0;
}

#tab1 tr:hover {
	background-color: #FFD58D;
}

#tab1 tr td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#tab1 tr td input {
	width: 40px;
	height: 20px;
	color: #ffffff;
	border-radius: 2px;
	display: none;
	border: none;
}

#tab1 tr td input:hover {
	cursor: pointer;
	color: #ff9f40;
}

#main2 {
	width: 1238px;
	height: 278px;
	margin: 10px 0px;
	background-color: #fff;
	border: 1px solid #ddd;
	float: left;
}

#main2 div {
	width: 1215px;
	margin-left: 20px;
	font-size: 13px;
	float: left;
}

#main2 div span {
	line-height: 30px;
	float: left;
}

#main2 div input {
	height: 20px;
	text-indent: 5px;
	margin-right: 5px;
	border: 1px solid #ccc;
	float: left;
}

#showpipeimg {
	width: 208px;
	height: 840px;
	background-color: #fff;
	border: 1px solid #ddd;
	float: left;
}

#showvideo {
	width: 1018px;
	height: 840px;
	margin-left: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	float: left;
}

.videoTitle {
	width: 50%;
	height: 40px;
	font-size: 24px;
	font-family: 宋体;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	float: left;
}

#video {
	width: 500px;;
	height: 375px;
	margin-left: 6px;
	background-color: #000;
	border-radius: 2px;
	cursor: pointer;
	float: left;
}

#image {
	width: 500px;;
	height: 375px;
	margin-left: 6px;
	background-color: #fafafa;
	border-radius: 2px;
	float: left;
}

#menu2 {
	width: 100%;
	height: 32px;
	font-size: 20px;
	font-weight: 700;
	font-family: "宋体";
	line-height: 32px;
	text-indent: 20px;
	margin-top: 4px;
	border-top: 1px solid #ccc;
	float: left;
}


#title {
	width: 100%;
	table-layout: fixed;
	float: left;
}

#title tr {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

#showItem {
	width: 100%;
	height: 340px;
	overflow-y: scroll;
	float: left;
}

#tab2 {
	width: 100%;
	background-color: #F1F1F1;
	table-layout: fixed;
}

#tab2  tr {
	height: 24px;
	background-color: #fff;
	cursor: pointer;
}

#tab2 tr td {
	font-size: 12px;
	text-indent: 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}