@CHARSET "UTF-8";

#append, #import {
	width: 64px;
	height: 30px;
	color: #ffffff;
	margin: 5px 0px 5px 10px;
	border: none;
	float: left;
}

#append {
	background-color: #3CB44B;
}

#append:hover {
	background-color: #50c55f;
	cursor: pointer;
}

#import {
	background-color: #2CACF1;
}

#import:hover {
	background-color: #40b4f2;
	cursor: pointer;
}

#page {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	position: fixed;
	display: none;
	z-index: 2;
}