<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>3d管道展示</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/CCTV/js/cesium/Widgets/widgets.css"/>
<script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/CCTV/js/cesium/Cesium.js"></script>
<script type="text/javascript" src="/CCTV/js/comm/proj4.js"></script>
<script type="text/javascript" src="/CCTV/js/comm/ol.js"></script>
</head>
<body>
	<!-- <div id="loadingOverlay">
      <h1>加载中...</h1>
	</div> -->
	<div id="cesiumContainer" class="fullSize"></div>
	<div id="toolbar"></div>
	<script>
		var projection = new ol.proj.Projection({
			code : "EPSG:2326",
			extent : [793259.70, 799130.01, 870525.78, 848940.16],
			axisOrientation : "neu",
			units : "m",
		});
		proj4.defs("EPSG:2326",	"+proj=tmerc+lat_0=22.31213333333334+lon_0=114.1785555555556+k=1+x_0=836694.05+y_0=819069.8+ellps=intl+towgs84=-162.619,-276.959,-161.764,0.067753,-2.24365,-1.15883,-1.09425+units=m +no_defs");
		ol.proj.addProjection(projection);
		//定义坐标转换
		ol.proj.addCoordinateTransforms("EPSG:4326", "EPSG:2326", function(
				coordinate) {
			return proj4("EPSG:4326", "EPSG:2326", coordinate);
		}, function(coordinate) {
			return proj4("EPSG:2326", "EPSG:4326", coordinate);
		});
		ol.proj.addCoordinateTransforms("EPSG:3857", "EPSG:2326", function(
				coordinate) {
			return proj4("EPSG:3857", "EPSG:2326", coordinate);
		}, function(coordinate) {
			return proj4("EPSG:2326", "EPSG:3857", coordinate);
		});

		var center = ol.proj.transform([ 840000, 820000 ], "EPSG:2326", 	"EPSG:4326");
		console.log(center);

		var viewer = new Cesium.Viewer("cesiumContainer", {
			animation : false, //是否显示动画控件
			geocoder : true, //是否显示查找控件
			timeline : false, //是否显示时间控件
			baseLayerPicker : true, //是否显示图层选择控件
			sceneModePicker : true, //是否显示投影方式控件
			navigationHelpButton : false, //是否显示帮助信息控件
			infoBox : true, //是否显示点击要素之后显示的信息
			imageryProvider : new Cesium.ArcGisMapServerImageryProvider({
				url : "http://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer",
				// url : "https://www.mapbox.com/maps"
			})
		});
		// 版权
		viewer._cesiumWidget._creditContainer.style.display = "none";
		var scene = viewer.scene;
		var globe = scene.globe;
		var entities = viewer.entities; //管道模型
		var cl_entities = [];	//对应长度数组

		//创建左边工具箱
		// var drawHelper = new DrawHelper(viewer._cesiumWidget);
		/* 		var toolbar = drawHelper.addToolbar(document.getElementById("toolbar"),
		 {
		 buttons : [ 'marker', 'polyline', 'polygon', 'circle',
		 'extent' ]
		 }); */
		viewer.camera.flyTo({destination : Cesium.Cartesian3.fromDegrees(113.970348, 22.382534, 900)});
		// 画井
		var h = -0.00004;
		addManhole("沙井wc25", "第一个沙井", 113.970289 - h, 22.381535, 10);
		addManhole("沙井wc26", "第二个沙井", 113.970238 - h, 22.382324, 2);
		addManhole("沙井wc27", "第三个沙井", 113.970239 - h, 22.382916, 2);
		addManhole("沙井xc27", "第四个沙井", 113.970520 - h, 22.382942, 2);
		addManhole("沙井xc26", "第五个沙井", 113.970522 - h, 22.382533, 2);
		addManhole("沙井xc25", "第六个沙井", 113.970476 - h, 22.381674, 2);
		// 画管
		addPipe("wc25-wc26", "第一根管道", [113.970289, 22.381535, 10, 113.970238, 22.382324, 0], 1, Cesium.Color.RED);
		addPipe("wc26-wc27", "第二根管道", [113.970238, 22.382324, 0, 113.970239, 22.382916, 0], 1, Cesium.Color.RED);
		addPipe("wc27-xc27", "第三根管道", [113.970239, 22.382916, 0, 113.970520, 22.382942, 0], 1, Cesium.Color.RED);
		addPipe("xc27-xc26", "第四根管道", [113.970520, 22.382942, 0, 113.970522, 22.382533, 0], 1, Cesium.Color.RED);
		addPipe("xc26-xc25", "第五根管道", [113.970522, 22.382533, 0, 113.970476, 22.381674, 0], 1, Cesium.Color.RED);

		//添加沙井模型
		function addManhole(id, description, longitude, latitude, heght) {
			var roll = new Cesium.HeadingPitchRoll(Cesium.Math.toRadians(180), 0, 0);
			var degree = Cesium.Cartesian3.fromDegrees(longitude, latitude, heght);
			var orientation = Cesium.Transforms.headingPitchRollQuaternion(degree, roll);
			var color = Cesium.Color.LIME;
			// 添加模型
			var model = viewer.entities	.add({
				id : id,  // 模型id
				position : Cesium.Cartesian3.fromDegrees(longitude, latitude, heght),  // 模型位置
				orientation : orientation,  // 模型方向
				model : {
					uri : '/CCTV/model/manhole.glb',  // 模型路径
					minimumPixelSize : 20,  // 模型最小刻度
					maximumSize : 20,  // 模型最大刻度
					maximumScale : 20,  //设置模型最大放大大小
					silhouetteColor : Cesium.Color.WHITE,  // 模型轮廓颜色
					// 仅用于调试，显示魔仙绘制时的线框
					debugWireframe : false,
					// 仅用于调试。显示模型绘制时的边界球。
					debugShowBoundingVolume : false,
					runAnimations : true,
					scale : 10
				}, description : '<table class="cesium-infoBox-defaultTable"><tbody>'
					+ '<tr><th>id</th><td>'
					+ id
					+ '</td></tr>'
					+ '<tr><th>名称</th><td>'
					+ description
					+ '</td></tr>'
					+ '<tr><th>操作</th><td><a onclick="cl_show()" href="javascript:void(0);">操作</a></td></tr>'
					+ '</tbody></table>'
				}
			);
		}
		
		function addPipe(id, description, positionArr, circle, color) {
			viewer.entities.add({
				id : id,
				name : "管道",
				polylineVolume : {
					positions : Cesium.Cartesian3.fromDegreesArrayHeights(positionArr),
					shape : computeCircle(circle),
					material : color
				}, description : ""
					/* '<table class="cesium-infoBox-defaultTable"><tbody>'
					+ '<tr><th>id</th><td>'
					+ id
					+ '</td></tr>'
					+ '<tr><th>名称</th><td>'
					+ description
					+ '</td></tr>'
					+ '<tr><th>管道半径</th><td>'
					+ circle + '</td></tr>' + '</tbody></table>' */
				}
			);
			var lablePositionLng = (positionArr[0] + positionArr[3]) / 2 + 0.00004;
			var lablePositionLat = (positionArr[1] + positionArr[4]) / 2;

			//添加测量距离
			var lables = viewer.entities.add({
				id : id + "长度",
				name : "cl_lable",
				minResolution : 0.2,
				position : Cesium.Cartesian3.fromDegrees(lablePositionLng, lablePositionLat, 10),
				label : {
					text : "30m",
					font : "20px sans-serif",
					fillColor : Cesium.Color.RED,
					pixelOffset : new Cesium.Cartesian2(0.0, 10)
				}, description : '<table class="cesium-infoBox-defaultTable"><tbody>'
					+ '<tr><th>名称</th><td>'
					+ id
					+ "长度"
					+ '</td></tr>'
					+ '<tr><th>长度值</th><td>30m</td></tr>'
					+ '</tbody></table>',
				infoBox : false,
			});
			cl_entities[cl_entities.length] = lables;
		}

		//鼠标事件监听
		var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
		//鼠标左键单击事件
		handler.setInputAction(function(movement) {
			var pick = viewer.scene.pick(movement.position);
			if (Cesium.defined(pick)) 
				pick.id.description = "555555";
			
		}, Cesium.ScreenSpaceEventType.LEFT_CLICK);

		//鼠标滑动
		var nameOverlay = document.createElement('div');//创建html
		viewer.container.appendChild(nameOverlay);
		nameOverlay.className = 'backdrop';
		nameOverlay.style.display = 'none';
		nameOverlay.style.position = 'absolute';
		nameOverlay.style.bottom = '0';
		nameOverlay.style.left = '0';
		nameOverlay.style['pointer-events'] = 'none';
		nameOverlay.style.padding = '4px';
		nameOverlay.style.backgroundColor = 'black';
		nameOverlay.style.color = '#fff';

		handler.setInputAction(function onMouseMove(movement) {
			// 鼠标移动消失时
			var pickedFeature = viewer.scene.pick(movement.endPosition);
			if (!Cesium.defined(pickedFeature) || pickedFeature.id.name == "cl_lable") {
				nameOverlay.style.display = 'none';
				return;
			}
			nameOverlay.style.display = 'block';
			nameOverlay.style.bottom = viewer.canvas.clientHeight - movement.endPosition.y + 'px';
			nameOverlay.style.left = movement.endPosition.x + 'px';
			name = pickedFeature.id._id;//实体id
			nameOverlay.textContent = name;

		}, Cesium.ScreenSpaceEventType.MOUSE_MOVE);

		//鼠标右键单击事件

		//画圆
		function computeCircle(radius) {
			var positions = [];
			for (var i = 0; i < 360; i++) {
				var radians = Cesium.Math.toRadians(i);
				var position = new Cesium.Cartesian2(radius * Math.cos(radians), radius * Math.sin(radians));
				positions.push(position);
			}
			return positions;
		}

		//是否显示地球
		globe.depthTestAgainstTerrain = true;
		var chlingPlane = null;
		function glode_show() {
			if ($('#wd_check').is(':checked')) {
				globe.show = false;
				$("#wd_check").prop("checked", false);
			} else {
				globe.show = true;
				$("#wd_check").prop("checked", true);
			}
		}

		//师傅显示测量
		function cl_show() {
			if ($('#cl_check').is(':checked')) {
				for (var i = 0; i < cl_entities.length; i++) {
					cl_entities[i].show = false;
				}
				$("#cl_check").prop("checked", false);
			} else {
				for (var i = 0; i < cl_entities.length; i++) {
					cl_entities[i].show = true;
				}
				$("#cl_check").prop("checked", true);
			}
		}

		viewer.scene.camera.moveEnd.addEventListener(function(){
			var currentMagnitude = viewer.camera.getMagnitude();
			console.log('currentMagnitude - ' + currentMagnitude);
			// console.log(lables);
		});

		
		
		
		var iframe = document.getElementsByClassName("cesium-infoBox-iframe")[0];
		iframe.setAttribute("sandbox","allow-same-origin allow-scripts allow-popups allow-forms");
		
		/* 		
		var items = new Array();
		items.push("12");
		items.push("34");
		items.push("12");
		console.log(items.indexOf("11"));
		console.log(items.indexOf("12"));
		 */
		
		
	</script>
</body>
</html>