<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:fragment="navigation">
  <head>
  	<link rel="stylesheet" type="text/css" href="/CCTV/css/navigation.css"/>
  	<script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
  	<script type="text/javascript">
  		$(document).ready(function(){
  			$.ajax({
  				url:"/CCTV/message/getcount",
  				data:{type:"未读"},
  				type:"post",
  				datatype:"json",
  				success:function(data){
  					var text = $(".naviItem:eq(2) a").text();
  					if (text.length > 10)
  						$(".naviItem:eq(2) a").text("消息(0)");
  					else
  						$(".naviItem:eq(2) a").text(text + "(" + data + ")");
  				}
  			});
  			$("#naviLogo").click(function(){
  				window.location.href="/CCTV/project/showlist";
  			});
  			$("#link").click(function(){
  				var className = $(this).attr("class");
  				Ajax("/CCTV/user/change", {l:className});
  				window.location.reload();
  			});
  			 /** 执行AJAX操作 */
  		    function Ajax(url, data) {
  		        var result = null;
  		        $.ajax({
  		            url:url,
  		            data:data,
  		            type:"post",
  		            async:false,
  		            datatype:"json",
  		            success:function(data) {
  		                result = data;
  		            }
  		        });
  		        return result;
  		    }
  		});
  	</script>
  </head>
  <body>
    <div id="naviMain">
      <div id="navi">
        <div style="width:680px;height:100%;float:left;">
          <img id="naviLogo" src="/CCTV/img/msdi.png" title="首页">
        </div>
        <div class="naviItem" style="width:120px">
          <img id="naviImg" src="/CCTV/img/头像.png"/>
          <shiro:authenticated> 
            <a><shiro:principal property="nickname"/></a>
          </shiro:authenticated>
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/个人1.png"/>
          <a href="/CCTV/person/center" th:text="#{navigation.item.text1}"></a>
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/消息1.png"/>
          <a href="/CCTV/message/showlist" th:text="#{navigation.item.text2}"></a>
        </div>
        <div th:if="${session.i18n=='zh_CN'}" class="naviItem">
          <img src="/CCTV/img/zh_CN.png"/>
          <a id="link" class="en_US" th:text="#{navigation.item.text3}"></a>
        </div>
        <div th:if="${session.i18n!='zh_CN'}" class="naviItem">
          <img src="/CCTV/img/en_US.png"/>
          <a id="link" class="zh_CN" th:text="#{navigation.item.text3}"></a>
        </div>
        <div class="naviItem">
          <img src="/CCTV/img/退出1.png"/>
          <a href="/CCTV/user/leave" th:text="#{navigation.item.text4}"></a>
        </div>
      </div>
    </div>
  </body>
</html>