<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <title>用户中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/CCTV/css/comm/itemlist.css"/>
    <link rel="stylesheet" type="text/css" href="/CCTV/css/person/center.css"/>
    <script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/CCTV/js/person/center.js"></script>
  </head>
  <body>
    <div th:replace="navigation::navigation"></div>
    <div id="Tip"></div>
    <div id="main">
      <div id="mainMenu">
        <div id="menuTitle" th:text="#{menu.title.text}"></div>
        <div class="menu2"><a href="/CCTV/project/showlist" th:text="#{menu.div.text1}"></a></div>
        <shiro:hasRole name="role2">
          <div class="menu2"><a href="/CCTV/project/findlist" th:text="#{menu.div.text2}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role3,vrole">
          <div class="menu2"><a href="/CCTV/markinfo/markview" th:text="#{menu.div.text3}"></a></div>
          <div class="menu2"><a href="/CCTV/markinfo/marklist" th:text="#{menu.div.text4}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2,vrole">
          <div class="menu2"><a href="/CCTV/markinfo/findlist" th:text="#{menu.div.text5}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2">
          <div class="menu2"><a href="/CCTV/operator/showlist" th:text="#{menu.div.text6}"></a></div>
          <div class="menu2"><a href="/CCTV/person/showlist" th:text="#{menu.div.text7}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="vrole">
          <div class="menu2"><a href="/CCTV/message/showlist" th:text="#{menu.div.text8}"></a></div>
        </shiro:hasRole>
        <div class="menu1"><a href="/CCTV/person/center" th:text="#{menu.div.text9}"></a></div>
      </div>
      
      <div id="mainInfo">
        <div id="infoTop" th:text="#{person.center.title}"></div>
        <table class="table1" style="border-bottom:1px solid #ccc;">
          <tr>
            <td width="20%" align="left"><img src="/CCTV/img/picture/center1.png"><a th:text="#{person.center.user.label1}"></a></td>
            <td width="30%">
              <input id="name" type="text" class="namebox" th:value="${person.nickname}"/>
              <img id="edit" src="/CCTV/img/picture/center8.png" style="margin-top:8px;"/>
            </td> 
            <td width="20%" align="left"><img src="/CCTV/img/picture/center2.png"><a th:text="#{person.center.user.label2}"></a></td>
            <td width="30%"  th:if="${person.role == 'Role2'}">管理人员</td>
            <td width="30%"  th:if="${person.role == 'Role3'}">评分人员</td>
            <td width="30%"  th:if="${person.role == 'Role4'}">编辑人员</td>
          </tr>
          <tr>
            <td align="left"><img src="/CCTV/img/picture/center3.png"><a th:text="#{person.center.user.label3}"></a></td>
            <td th:text="${person.email}"></td>
            <td align="left"><img src="/CCTV/img/picture/center4.png"><a th:text="#{person.center.user.label4}"></a></td>
            <td th:text="${person.phone}"></td>
          </tr>
          <tr>
            <td align="left"><img src="/CCTV/img/picture/center5.png"><a th:text="#{person.center.user.label5}"></a></td>
            <td th:text="${person.company.date}"></td>
            <td align="left"><img src="/CCTV/img/picture/center6.png"><a th:text="#{person.center.user.label6}"></a></td>
            <td th:text="${person.company.term}"></td>
          </tr>
        </table>
        
        <table class="table2">
          <tr> <!-- 登录密码 -->
            <td width="82%" align="left"><img src="/CCTV/img/picture/center7.png"><h4 th:text="#{person.center.list.title1}"></h4></td>
            <td width="18%" align="center">
              <img style="margin-top:2px;float:left;" src="/CCTV/img/ioc1.png">
              <span style="color:#44B333;font-weight:600;" th:text="#{person.center.list.link1}"></span> | 
              <a id="link1" class="link1" th:text="#{person.center.list.link3}"></a>
            </td>
          </tr>
          <tr style="height:75px;border-bottom:1px dashed #ccc;"><td colspan="2" th:text="#{person.center.list.context1}"></td></tr>
          
          <tr> <!-- 电子邮箱 -->
            <td align="left"><img src="/CCTV/img/picture/center3.png"><h4 th:text="#{person.center.list.title2}"></h4></td>
            <td th:if="${person.email!='' && person.email!=null}" align="center">
              <img style="margin-top:2px;float:left;" src="/CCTV/img/ioc1.png">
              <span style="color:#44B333;font-weight:600;" th:text="#{person.center.list.link1}"></span> | 
              <a id="link2" class="link1" th:text="#{person.center.list.link3}"></a>
            </td>
            <td th:if="${person.email=='' || person.email==null}" align="center">
              <img style="margin-top:0px;float:left;" src="/CCTV/img/ioc2.png">
              <span style="color:#FF9900;font-weight:600;" th:text="#{person.center.list.link2}"></span> | 
              <a id="link2" class="link1" th:text="#{person.center.list.link4}"></a>
            </td>
          </tr>
          <tr style="height:75px;border-bottom:1px dashed #ccc;"><td colspan="2" th:text="#{person.center.list.context2}"></td></tr>
          <tr> <!-- 手机号码 -->
            <td align="left"><img src="/CCTV/img/picture/center4.png"><h4 th:text="#{person.center.list.title3}"></h4></td>
            <td align="center">
              <img style="margin-top:2px;float:left;" src="/CCTV/img/ioc2.png">
              <span style="color:#FF9900;font-weight:600;" th:text="#{person.center.list.link2}"></span> | 
              <a id="link3" class="link1" th:text="#{person.center.list.link4}"></a>
         	</td>
          </tr>
          <tr style="height:75px;"><td colspan="2" th:text="#{person.center.list.context3}"></td></tr>
        </table>
      </div>
    </div>
    
    <div id="page">
      <div id="webform1">
	    <div class="title">修改密码</div>
	    <span class="colse">X</span>
	    <table id="table1">
	      <tr height="30px">
	        <td colspan="2" align="center"><a style="color:#f00"></a></td>
	      </tr>
	      <tr height="55px">
	        <td width="35%" align="right"><font color="#ff0000">*</font><a th:text="#{person.center.webform1.font1}"></a></td>
	        <td width="65%"><input class="textbox" type="password"/></td>
	      </tr>
	      <tr height="55px">
	        <td align="right"><font color="#ff0000">*</font><a th:text="#{person.center.webform1.font2}"></a></td>
	        <td><input class="textbox" type="password"/></td>
	      </tr>
	      <tr height="55px">
	        <td align="right"><font color="#ff0000">*</font><a th:text="#{person.center.webform1.font3}"></a></td>
	        <td><input class="textbox" type="password"/></td>
	      </tr>
	      <tr height="55px">
	        <td></td>
	        <td><input type="button" class="btn" th:value="#{person.center.webform.button}"/></td>
	      </tr>
	      <tr height="20px">
	        <td colspan="2" align="center"></td>
	      </tr>
	    </table>
	  </div>
	  
	  <div id="webform2">
        <div class="title">绑定邮箱</div>
	    <span class="colse">X</span>
	    <table id="table2">
	      <tr height="30px">
	        <td colspan="2" align="center"><a style="color:#f00"></a></td>
	      </tr>
	      <tr height="55px">
	        <td width="35%" align="right"><font color="#ff0000">*</font><a th:text="#{person.center.webform2.font1}"></a></td>
	        <td width="65%"><a style="color:#F29D17;font-weight:700" th:text="${person.username}"></a></td>
	      </tr>
	      <tr height="55px">
	        <td align="right"><font color="#ff0000">*</font><a th:text="#{person.center.webform2.font2}"></a></td>
	        <td><input class="textbox" type="text"/></td>
	      </tr>
	      <tr height="55px">
	        <td align="right"><font color="#ff0000">*</font><a th:text="#{person.center.webform2.font3}"></a></td>
	        <td>
	          <input class="textbox" type="text" style="width:120px"/>
	          <input id="getCode" type="button" th:value="#{person.center.webform2.button}"/>
	        </td>
	      </tr>
	      <tr height="55px">
	        <td></td>
	        <td><input type="button" class="btn" th:value="#{person.center.webform.button}"/></td>
	      </tr>
	      <tr height="20px">
	        <td colspan="2" align="center"></td>
	      </tr>
	    </table>
	  </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>