<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
  	<title>用户编辑</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/CCTV/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CCTV/css/person/update.css"/>
    <script type="text/javascript" src="/CCTV/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/CCTV/js/person/update.js"></script>
  </head>
  <body>
    <div th:replace="navigation::navigation"></div>
    <div id="main">
      <div id="mainInfo">
        <div id="top" th:text="#{person.update.title}"></div>
        <form id="form1" action="update" method="post">
        <input type="hidden" name="id" th:value="${person.id}"/>
        <table id="tab1">
          <tr>
            <td width="150px" align="right"><a>*</a><span th:text="#{person.update.label1}"></span></td>
            <td width="300px" ><input type="text" th:value="${person.nickname}"/></td>
          </tr>
          <tr>
            <td align="right"><a>*</a><span th:text="#{person.update.label2}"></span></td>
            <td>
              <select name="role" th:field="${person.role}" th:disabled="${#strings.contains(person.username,'0001')}">
            	<option value='Role2'>管理人員</option>
				<option value='Role3'>評分人員</option>
				<option value='Role4'>操作人員</option>
              </select>
            </td>
          </tr>
          <tr>
            <td align="right"><a>*</a><span th:text="#{person.update.label3}"></span></td>
    	    <td><input type="text" th:value="${person.username}"/></td>
       	  </tr>
          <tr>
       	    <td align="right"><a>*</a><span th:text="#{person.update.label4}"></span></td>
       	    <td><input type="text" th:value="${person.password}"/></td>
          </tr>
          <tr>
    	    <td align="right"><span th:text="#{person.update.label5}"></span></td>
    	    <td><input type="text" th:value="${person.email}"/></td>
    	  </tr>
          <tr>
       	    <td align="right"><span th:text="#{person.update.label6}"></span></td>
       	    <td><input type="text" th:value="${person.phone}"/></td>
       	  </tr>
          <tr>
    	    <td align="left"></td>
       	    <td><input type="submit" class="combtn" th:value="#{person.update.button}"></td>
       	  </tr>
        </table>
        </form>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>