@CHARSET "UTF-8";

.table1, .table2 {
	width: 960px;
	font-size: 18px;
	margin-left: 20px;
	font-family: "Helvetica";
	border-collapse: collapse;
	float: left;
}

.table1 tr {
	height: 65px;
}

.table1 tr td img {
	width: 18px;
	height: 18px;
	margin-top: 4px;
	margin-right: 6px;
	float: left;
}

.table1 tr td a {
	color: #39B549;
	font-weight: 600;
}

.namebox {
	width: 200px;
	height: 24px;
	margin-top: 4px;
	margin-right: 4px;
	text-indent: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	float: left;
}

#edit {
	cursor: pointer;
}

.table2 {
	font-family: "宋体";
}

.table2 tr {
	height: 40px;
}

.table2 tr td img {
	width: 18px;
	height: 18px;
	margin-top: 24px;
	margin-right: 5px;
	float: left;
}

.table2 tr td h4 {
	color: #39B549;
	font-weight: 600;
}

.link1 {
	color: #16B1AC;
	font-weight: 600;
}

.link1:hover {
	text-decoration: underline;
	cursor: pointer;
}

#page {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(60, 60, 60, 0.2);
	display: none;
	z-index: 2;
}

#webform1, #webform2 {
	top: 50%;
	left: 50%;
	width: 490px;
	height: 360px;
	position: absolute;
	margin: -180px -245px;
	background-color: #FFF;
}

.title {
	width: 380px;
	height: 24px;
	font-size: 20px;
	font-family: "宋体";
	font-weight: 600;
	margin: 15px 20px;
	text-indent: 10px;
	line-height: 24px;
	border-left: 5px solid #39B549;
	float: left;
}

.colse {
	width: 24px;
	height: 24px;
	font-size: 18px;
	font-weight: 600;
	margin: 15px 20px;
	text-align: center;
	line-height: 24px;
	float: left;
}

.colse:hover {
	cursor: pointer;
	color: #f00;
}

#table1, #table2 {
	width: 450px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	font-family: "仿宋";
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	float: left;
}

.textbox {
	width: 240px;
	height: 30px;
	text-indent: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	float: left;
}

.btn {
	width: 242px;
	height: 36px;
	color: #fff;
	font-size: 18px;
	background-color: #51C024;
	border-radius: 4px;
	border: none;
}

.btn:hover {
	background-color: #69da38;
	cursor: pointer;
}

#getCode {
	width: 120px;
	height: 34px;
	color: #51C024;
	background-color: #ffffff;
	border: 1px solid #51C024;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}