@CHARSET "UTF-8";

#tab1 tbody tr td input[type=button] {
	width: 64px;
	height: 24px;
	color: #ffffff; 
	font-weight: 600;
	font-family: "等线";
	background-color: #24b749;
	border: none;
}

#tab1 tbody tr td input[type=button]:hover {
	background-color: #29d154;
	cursor: pointer;
}