<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.GeomProjectDao">
	<insert id="insertGeomProject" parameterType="GeomProject" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO geomproject VALUES(nextval('indexID'),
			#{extent},
			#{surveyer},
			#{project.id}
		)
	</insert>
	
	<update id="updateGeomProject" parameterType="GeomProject">
		UPDATE geomproject SET extent=#{extent},
			surveyer=#{surveyer},
			projectid=#{project.id}
		WHERE id=#{id}
	</update>
	
	<delete id="deleteGeomProject" parameterType="GeomProject">
		DELETE FROM geomproject WHERE id=#{id}
	</delete>
	
	<select id="findGeomProjectByID" parameterType="int" resultMap="GeomProjectMap">
		select * from geomproject where id = #{id}
	</select>
	
	<select id="findInfoGeomProject" parameterType="Map" resultMap="GeomProjectMap">
		select b.id, c.name, avg(a.actualx1) x, avg(a.actualy1) y from geompipe a 
			left join geomproject b on b.id = a.geomid 
  			left join project c on c.id = b.projectid
			left join person d on d.id = c.personid
			where a.actualx1 > 0 and a.actualy1 > 0
		<if test="id != null">
			and b.id = #{id}
		</if>
		<if test="project != null">
			and c.id = #{project.id}
		</if>
		<if test="person != null">
			and c.personid = #{person.id}
		</if>
		<if test="company != null">
			and c.companyid = #{company.id}
		</if>
		group by b.id, c.name
	</select>
	
	<select id="findListGeomProject" parameterType="Map" resultMap="GeomProjectMap">
		select b.id, c.name, avg(a.actualx1) x, avg(a.actualy1) y from geompipe a 
			left join geomproject b on b.id = a.geomid 
  			left join project c on c.id = b.projectid
			left join person d on d.id = c.personid
			where a.actualx1 > 0 and a.actualy1 > 0
		<if test="extent != null">
			and g.extent != ''
		</if>
		<if test="company != null">
			and d.companyid = #{company.id}
		</if>
		group by b.id, c.name
	</select>
	
	<resultMap id="GeomProjectMap" type="GeomProject">
		<id property="id" column="id"/>
		<result property="x" column="x"/>
		<result property="y" column="y"/>
		<association property="project" javaType="Project">
			<result property="name" column="name"/>
		</association>
	</resultMap>
</mapper>
 