<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.GeomItemDao">

	<insert id="insertGeomItem" parameterType="GeomItem" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO geomitem VALUES(nextval('indexID'),
			#{x},
			#{y},
			#{grade},
			#{score},
			#{picture},
			#{remarks},
			#{item.id},
			#{geomPipe.id},
			null
		)
	</insert>

	<update id="updateGeomItem" parameterType="GeomItem">
		UPDATE geomitem SET 
			x = #{x},
			y = #{y},
			grade = #{grade},
			score = #{score},
			picture = #{picture},
			remarks = #{remarks},
			itemid = #{item.id},
			geompipeid = #{geomPipe.id},
			<if test="x == 0 or y == 0">
				geom = null
			</if>
			<if test="x != 0 and y != 0">
				geom = ST_GeomFromText('point(${x} ${y})')
			</if>
		WHERE id=#{id}
	</update>

	<delete id="deleteGeomItem" parameterType="GeomItem">
		DELETE FROM geomitem WHERE id=#{id}
	</delete>

	<select id="findInfoGeomItem" parameterType="Map" resultMap="GeomItemMap">
		select * from geomitem
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="item != null">
				and id = #{item.id}
			</if>
		</where>
	</select>
	
	<select id="findListGeomItem" parameterType="Map" resultMap="GeomItemMap">
		select * from geomitem g left join item i on g.itemid=i.id
		<where>
			<if test="geomPipe != null">
				and g.geompipeid = #{geomPipe.id}
			</if>
		</where>
		order by i.no
	</select>
	
	<resultMap id="GeomItemMap" type="GeomItem">
		<id property="id" column="id"/>
		<result property="x" column="x"/>
		<result property="y" column="y"/>
		<result property="grade" column="grade"/>
		<result property="score" column="score"/>
		<result property="picture" column="picture"/>
		<result property="remarks" column="remarks"/>
		<association property="item" column="itemid" select="com.springboot.dao.ItemDao.findItemByID"/>
		<association property="geomPipe" column="geompipeid" select="com.springboot.dao.GeomPipeDao.findGeomPipeByID"/>
	</resultMap>
</mapper>
 