@CHARSET "UTF-8";

#show {
	top: 20px;
	left: 20px;
	width: 270px;
	background-color: #fff;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
}

#show table {
	width: 100%;
	font-size: 14px;
	background-color: #EAEAEA;
	float: left;
}

#show table thead tr {
	height: 24px;
	font-size: 15px;
	font-family: 宋体;
}

#show table tbody tr {
	height: 30px;
	font-size: 13px;
	text-align: center;
	background-color: #ffffff;
}

#show table tbody tr input {
	width: 40px;
	height: 20px;
	color: #ffffff;
	background-color: #5CB95E;
	border: none;
}

#show table tbody tr input:hover {
	cursor: pointer;
	color: #F37B1D;
}